{% extends 'temp/fishermen.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>REQUEST PRAWN FILTRATION</title>
</head>
<body>
	<center><h1 style="color: white" >PRAWN FILTRATION REQUEST</h1>
		<table>
			<form method="post" class="form-floating" enctype="multipart/form-data" >
                 {% csrf_token %}
				<tr>
					<td style="color: white">LicenseNumber:</td>
					<td><input type="text" name="lin" required style="color: white" class="form-control bg-transparent"></td>
				</tr>
				<tr>
					<td style="color: white">Request:</td>
					<td><input type="file" name="rst" required style="color: white" class="form-control bg-transparent"></td>
				</tr>

				<tr>
					<td style="color: white">Date:</td>
					<td><input type="text" name="dt" required style="color: white" class="form-control bg-transparent"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="btn" value="REQUEST" style="color: white" class="btn btn-outline-primary"></td>
				</tr>
            {% if msg %}
                <script>
                    alert("Requested Successfully")
                </script>
                {% endif %}
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}