{% extends 'temp/director.html' %}
{% block base2 %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<title>mng req relief scheme</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form ><h1>Manage Request For Relief Scheme</h1>
			<tr>
				<td>User Id</td>
				<td>Scheme Name</td>
                <td>Id proof</td>
				<td>Status</td>
				<td colspan="2"></td>
				
			</tr>
            {% for i in x %}
            <tr>
			<td>{{ i.fishermen.fishermen_id}}</td>
			<td>{{ i.relief_schem.scheme_name}}</td>
            <td><a href="/static/{{ i.id_proof }}"  class="btn btn-outline-primary">DOWNLOAD</a></td>
			<td>{{ i.status }}</td>
			<td><a href="{% url 'app' idd=i.req_relief_schem_id %}"  class="btn btn-outline-primary">APPROVE</a></td>
			<td><a href="{% url 'rej' idd=i.req_relief_schem_id %} "  class="btn btn-outline-primary">REJECT</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>
</form>

</body>
</html>
{% endblock %}