{% extends 'temp/fishermen.html' %}
{% block base2 %}
<!DOCTYPE html>
<html>
<head>
	<title>view approved educational assistance</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form  enctype="multipart/form-data"><h1>Educational Assistance</h1>
			
			<tr>
				<td>StudentName</td>
				<td>Status</td>
		    </tr>
                {% for i in x %}
			<tr>
				<td>{{ i.student_name }}</td>
				<td>{{ i.status }}</td>
				
			</tr>
			   {% endfor %}
			
			
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}