{% extends 'temp/fishermen.html' %}
{% block base2 %}
<!DOCTYPE html>
<html>
<head>
	<title> view and request educational assistance</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form >
                <h1>Request Educational Assistance</h1>
				<tr>
					<td>Scolarship Name</td>
					<td>Description:</td>
					<td colspan="2"></td>
				</tr>
                {% for i in y %}
				<tr>
					<td>{{ i.scolarship_name}}</td>
					<td>{{ i.description }}</td>
                    <td><a href="/static/{{ i.description }}"  class="btn btn-outline-primary">DOWNLOAD</a></td>
                    <td><a href="{% url 'cc' idd=i.educational_assistance_id%}"  class="btn btn-outline-primary">REQUEST</a></td>


				</tr>
                {% endfor %}
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}