{% extends 'temp/fishermen.html' %}
{% block base2 %}
<!DOCTYPE html>
<html>
<head>
	<title>view relief scheme</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form ><h1> Relief Scheme</h1>
			<tr>
				<td>Scheme Name</td>
				<td>Description</td>
				<td colspan="2"></td>

			</tr>
                {% for i in z %}
			<tr>
			<td>{{ i.scheme_name }}</td>
			<td>{{ i.description}}</td>
			<td><a href="/static/{{ i.description }}" class="btn btn-outline-primary">DOWNLOAD</a></td>
			<td><a href="{% url 'req1' idd=i.relief_schem_id %}"  class="btn btn-outline-primary">REQUEST</a></td>
			</tr>
                {%  endfor %}
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}