{% extends 'temp/fishermen.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>view,rewquest for compensation</title>
</head>
<body>
	<center>
	<table border="1" class="table-bordered table table-striped">
		<form><h1> Request Compensation</h1>
			<tr>
				<td>Title</td>
				<td>Amount</td>
                <td>Rules</td>

				<td colspan="2"></td>
				
			</tr>
             {% for i in y %}
			<tr>
				<td>{{ i.title }}</td>
				<td>{{ i.amount }}</td>
                <td>{{ i.rules }}</td>
				<td><a href="">DOWNLOAD</a></td>
				<td><a href="">REQUEST</a></td>
			</tr>
            {% endfor %}
		</form>
	</table>
    </center>
</body>
</html>
{% endblock %}