{% extends 'temp/fishermen.html' %}
{% block base2 %}
<!DOCTYPE html>
<html>
<head>
	<title> view approved order</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form><h1>Approved order</h1>
				<tr>
                    <td>Order id</td>
					<td>EquipmentName</td>
					<td>Quandity</td>
					<td>Price</td>
					<td>Subcide</td>
                    <td colspan="2"></td>

				<tr>
                {% for i in a %}
				<tr>
                    <td>{{ i.order_id }}</td>
					<td>{{ i.equipment_name }}</td>
                    <td>{{ i.quantity }}</td>
					<td>{{ i.amount }}</td>
					<td>{{ i.subcidy }}</td>
                    <td><a href=""> PAYMENT</a> </td>
{#                {% url 'pay' idd=i.order_id %}#}

					
				</tr>
                {% endfor %}
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}