 {% extends 'temp/director.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>prawn filtration</title>
</head>
<body>
	<center>
		<h1 style="color: white">PRAWN FILTRATION</h1>
		<table>
			<form method="post" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}
				<tr>
					<td style="color: white">AvailableDate:</td>
					<td><input type="text" name="avd" required style="color: white" class="form-control bg-transparent"></td>
				</tr>
                <tr>
					<td style="color: white">Details:</td>
					<td><input type="file" name="det" required style="color: white" class="form-control bg-transparent"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="btn" value="ADD" style="color: white" class="btn btn-outline-primary"></td>
				</tr>
                 {% if msg %}
                <script>
                    alert("Prawn Filtration Added Successfully ")
                </script>
                {% endif %}
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}