i{% extends 'temp/fishermen.html' %}
{% block base2 %}
<!DOCTYPE html>
<html>
<head>
	<title>VIEW REQUEST PRAWN FILTRATION</title>
</head>
<body>
	<center>
		<table border="1" class="table-bordered table table-striped">
			<form>
				<tr>
					<td>LicenseNumber</td>
					<td>Request</td>
					<td>Date</td>
					<td>Status</td>
					<td colspan="2"></td>
				</tr>
{#                {% for i in y %}#}
				<tr>
					<td>{{ i.li }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="">APPROVE</a></td>
					<td><a href="">REJECT</a></td>
				</tr>
			</form>
		</table>
	</center>

</body>
</html>
{% endblock %}